user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  300;

    #gzip  on;

    # include /etc/nginx/conf.d/*.conf;
    map $http_upgrade $connection_upgrade {
        default Upgrade;
        '' close;
    }

    server {
        listen       30443 ssl;

        ssl_certificate     /etc/nginx/nginx.crt;  # pem文件的路径
        ssl_certificate_key  /etc/nginx/nginx.key; # key文件的路径

        # ssl验证相关配置
        ssl_session_timeout  5m;    #缓存有效期
        ssl_ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE:ECDH:AES:HIGH:!NULL:!aNULL:!MD5:!ADH:!RC4;    #加密算法
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;    #安全链接可选的加密协议
        ssl_prefer_server_ciphers on;   #使用服务器端的首选算法

        if ( $uri ~ ^/province-(\w+)/edge-([^/]+)/(.*) ) {
            set $province $1;
            set $edge $2;
        }

        location  / {
            resolver '{{ cloud_nginx_ip }}:53'; # 指定解析域名的DNS服务: 省份Nginx服务地址（eg. 127.0.0.1[:53]）
            set $target https://$edge.$province.mec.10010.com:6080;
            rewrite /province-(\w+)/edge-([^/]+)/(.*) /$3 break;
            proxy_pass $target;
        }
        location ~ ^/province-(\w+)/edge-([^/]+)/$ {
            resolver '{{ cloud_nginx_ip }}:53'; # 指定解析域名的DNS服务: 省份Nginx服务地址（eg. 127.0.0.1[:53]）
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $connection_upgrade;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $http_host;
            proxy_set_header X-NginX-Proxy true;
            proxy_redirect off;
            proxy_http_version 1.1;
            set $target https://$edge.$province.mec.10010.com:6080;
            rewrite /province-(\w+)/edge-([^/]+)/ / break;
            proxy_pass $target;
        }
    }

}
