{%- set wsrep_driver = '/usr/lib/galera/libgalera_smm.so' if os_base_distro in ['debian', 'ubuntu'] else '/usr/lib64/galera/libgalera_smm.so' %}
{% set sst_method = 'mariabackup' %}

[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld]
basedir=/usr
bind-address={{ mariadb_listen_address }}
port={{ mariadb_listen_port }}

log-error=/var/log/mariadb/mariadb.log

lower_case_table_names=1
log-bin=mysql-bin
binlog_format=ROW
expire_logs_days=14
default-storage-engine=innodb
innodb_autoinc_lock_mode=2

collation-server = utf8_general_ci
init-connect='SET NAMES utf8'
character-set-server = utf8

datadir=/var/lib/mysql/

wsrep_cluster_address=gcomm://{% if (groups['mariadb'] | length) > 1 %}{% for host in groups['mariadb'] %}{{ hostvars[host]['mariadb_listen_interface']|address(ip_version=ip_version, hostname=host)|ipwrap }}:{{ mariadb_wsrep_port }}{% if not loop.last %},{% endif %}{% endfor %}{% endif %}

{% if mariadb_ip_version | int  == 6 and os_base_distro == 'centos' %}
# FIXME(jeffrey4l): Revert when using C8 (CentOS+Ussuri)
# Use [::] to avoid galera issue.
# for more info see https://github.com/codership/galera/issues/534#issuecomment-472607544
wsrep_provider_options=gmcast.listen_addr=tcp://[::]:{{ mariadb_wsrep_port }};ist.recv_addr={{ mariadb_listen_address }}:{{ mariadb_ist_port }}
{% else %}
wsrep_provider_options=gmcast.listen_addr=tcp://{{ mariadb_listen_address }}:{{ mariadb_wsrep_port }};ist.recv_addr={{ mariadb_listen_address }}:{{ mariadb_ist_port }}
{% endif %}

wsrep_node_address={{ mariadb_listen_address  }}:{{ mariadb_wsrep_port }}
{% if mariadb_ip_version | int == 6 and os_base_distro == 'centos' %}
# FIXME(yj.bai): Revert when using C8 (CentOS+Ussuri)
# Use IPv6-resolvable hostname to avoid galera issue.
wsrep_sst_receive_address={{ ansible_hostname }}:{{ mariadb_sst_port }}
{% else %}
wsrep_sst_receive_address={{ mariadb_listen_address }}:{{ mariadb_sst_port }}
{% endif %}
