#!/bin/bash -e

# Edit parameters below to specify the address and login to server.
USER={{ database_user }}
PSWD={{ database_password }}
HOST={{ mariadb_listen_address }}
PORT={{ mariadb_listen_port }}
LB_USER=haproxy

